/* Global CSS */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Main Headings */
/* large text bold (name) */
h1 {
  color: var(--white);
  font-family: "Trirong", serif;
  font-size: 5rem;
  font-style: light;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  margin-bottom: 0px;
}
/* large text not bold (section titles)*/
h2 {
  color: var(--white);
  font-family: 'Inter';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
/* medium text bold (title sub text) */
h3 {
  color: var(--black);
  font-family: Inter;
  font-size: 29.66px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}
/* project descriptions */
h4 {
  color: var(--black);
  font-family:'Courier New', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
/* small (navbar) */ 
h5 {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
/* project software tags */ 
h6 {
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

/* paragraph text (about me body text) */
p {
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-bottom: 5px;
}

/* links */
a {
  text-decoration: none;
  color: var(--black)
}

/* colors */
:root {
  --pink: #F9D7E3;
  --sage: #D9D8C3;
  --forest: #334633;
  --cream: #FFF6EC;
  --yellow: #FFE978;
  --white: #FFFFFF;
  --black: #000000;
  --brick: #C99A85;
}
/* Global CSS Ends */

/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: var(--black);
  box-shadow: 0px 5.333px 10px 0 var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 60px;
}
/* Navbar Content */
.navbar--content {
  cursor: pointer;
}
.navbar--active-content {
  color: var(--white);
  text-decoration-line: underline;
}
.navbar-logo {
  width: 40px ;
}
/* Navbar Styler Ends */

/* Hero Section Style */
.full-screen-image {
  overflow: hidden;
  width: 100%;
  background: var(--black);
}
.full-screen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-overlay {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-overlay .arrow {
  margin-top: 0px;
  size: 6rem;
}
/* Hero Section Style Ends */

/* Projects Section Style */
.projects--section {
  display: flex;
  padding: 100px 10px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  background: var(--black);
  box-shadow: 0 -5px 10px var(--black);
}
.projects--section--title{
  text-align: center;
  width: 100%;
}
.projects--section--cards {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  justify-content: center;
}
/* img and desc card small (picture_and_desc1) */
.projects--section--card1 {
  width: 360px;
  height: 360px;
  flex-shrink: 0;
  border-radius: 18px;
  display: inline-block;
  padding: 7px;
  margin: 20px;
  position: relative;
}
.projects--section--image--desc {
  display: inline-block;
  height: 82%;
  display: block;
}
.projects--section--image {
  height: 100px; 
  padding-left: 20px;
  padding-top: 50px;
}
.projects--section--desc {
  margin: 15px;
}
/* full image card small */
.projects--section--card2 {
  width: 360px;
  height: 360px;
  flex-shrink: 0;
  display: inline-block;
  padding: 7px;
  margin: 20px;
  position: relative;
  border-radius: 18px;
  background: black;
  overflow: hidden;
  position: relative;
}
.projects--section--card2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Image fills the width */
  height: 100%; /* Image fills the height */
  object-fit: cover; /* Ensures the image covers the entire div */
  transform: translate(-50%, -50%); /* Centers the image */
}
.projects--section--image--desc {
  height: 100%;
  display: block;
}
/* img and desc card large - picture_and_desc2 */
.projects--section--card3 {
  background: var(--dark-green);
  width: 774px;
  height: 360px;
  flex-shrink: 0;
  border-radius: 18px;
  display: flex; /* Changed to flexbox */
  padding: 7px;
  margin: 20px;
  position: relative;
  align-items: flex-start; /* Align items at the top */
}

.projects--section--card3 img {
  height: 70%;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.projects--section--card3 h4 {
  margin-left: 20px; /* Adds some space between the image and text */
  width: 350px; /* Sets the width of the text */
  padding-top: 100px;
}
.projects--section--title--tags {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  box-sizing: border-box;
}
.projects--section--card--title {
  height: 27px;
	vertical-align: middle;
  display: inline-block;
}
.projects--section--card--title h6 {
  font-weight: 800;
  padding-left: 10px;
  padding-top: 5px;
}
.projects--section--dev--tag--dark {
  height: 26px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--black);
  background: var(--black);
	vertical-align: middle;
  float: right;
  top: 15px;
  right: 15px;
  text-align: center;
  margin-left: 10px;
}
.projects--section--dev--tag--dark h6 {
  color: var(--white);
  padding-left: 15px;
  padding-right: 15px;
  line-height: 26px;
}

.projects--section--dev--tag--light {
  height: 26px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--white);
  background: var(--white);
	vertical-align: middle;
  float: right;
  top: 15px;
  right: 15px;
  text-align: center;
  margin-left: 10px;
}
.projects--section--dev--tag--light h6 {
  color: var(--black);
  padding-left: 15px;
  padding-right: 15px;
  line-height: 26px;
}

.projects--section--design--tag--dark {
  height: 26px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--black);
	vertical-align: middle;
  float: right;
  top: 15px;
  right: 15px;
  text-align: center;
  margin-left: 10px;
}

.projects--section--design--tag--dark h6 {
  color: var(--black);
  padding-left: 15px;
  padding-right: 15px;
  line-height: 26px;
}

.projects--section--design--tag--light {
  height: 26px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--white);
	vertical-align: middle;
  float: right;
  top: 15px;
  right: 15px;
  text-align: center;
  margin-left: 10px;
}
.projects--section--design--tag--light h6 {
  color: var(--white);
  padding-left: 15px;
  padding-right: 15px;
  line-height: 26px;
}

.projects--section--buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px;
  box-sizing: border-box;
}
.projects--section--link--button--dark {
  flex-shrink: 0;
  text-align: center;
  margin-left: 10px;
  text-align: center;
  transition: filter 0.3s;
  width: 40px;
  height: 40px;
}

.projects--section--link--button--light {
  flex-shrink: 0px;
  text-align: center;
  float: right;
  margin-left: 10px;
  text-align: center;
}

.projects--section--link--button--dark a svg {
  fill: black;
}

.projects--section--link--button--dark:hover a svg {
  fill: rgba(0, 0, 0, 0.678);
}

.projects--section--link--button--light a svg {
  color: var(--white);
}

.projects--section--link--button--light:hover a svg {
  fill: rgba(255, 255, 255, 0.678);
}

.sections--heading {
  color: var(--heading-color);
}

/* AboutMe Start */
.about--section {
  background-color: black;
  padding-top: 100px;
}
.aboutMe_container {
  padding: 100px;
  padding-top: 30px;
  display: flex;
  align-items: center; /* Vertically center the content */
  gap: 100px; /* 100px space between image and text */
}
.aboutMe_container img {
  width: 28%;
  border-radius: 370px;
  max-width: 40%; /* Adjust width as needed */
  height: auto;
}
.aboutMe_container p {
  flex: 1; /* Allow the text to fill the remaining space */
  margin: 0; /* Remove default margins */
  color: var(--white);
}


/* Footer Starts */
.footer--container {
  background-image: url('../public/img/footer_image.png'); /* Replace with the correct path to your image */
  background-size: cover; /* Ensures the image covers the entire footer area */
  background-position: bottom; /* Centers the image within the footer */
  width: 100%; /* Make sure the footer takes up the full width of the screen */
  min-height: 300px; /* Adjust this value to increase the footer height */
  align-items: center; /* Centers content vertically */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns child elements to the bottom */
  padding-bottom: 20px;
}
.footer-rects {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  gap: 40px; /* Adjusts space between images */
  max-width: 100%; /* Ensures no wrapping */
  align-items: flex-end; 
  padding-right: 20px;
  padding-left: 20px;
}
.img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.img-container img {
  max-width: 100%; 
  height: auto;
  display: block; 
  transition: transform 0.3s ease; /* Smooth transition for animation */
}
.img-container:hover {
  animation: shake 0.5s ease; /* Apply shake animation on hover */
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
.footer-link-text {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  text-align: center;
  transform: translateX(-50%); /* Center text horizontally */
  padding-bottom: 30px;
  color: var(--black);
  font-size: 10px;
}


/* Responsive Screens */
@media (max-width: 600px) {
  .footer-link-text {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }
}
@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }
  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }
  .skills--section--container,
  .about--section,
  .portfolio--section--container,
  .portfolio--container-box,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }
  .skills--section,
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }
  .portfolio--container-box {
    gap: 30px;
  }
  .skills--section,
  .testimonial--section,
  .contact--section,
  .footer--container {
    gap: 20px;
  }
  .about--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .testimonial--section--card {
    padding: 25px;
  }
  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section--content--box {
    gap: 10px;
  }
  .contact--form--container {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 0px;
  }
}

/* Hamburger menu  */

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

/* Responsive Screens Ends*/

/* project pages */
.gallery_images {
  width: 20%;
  height: auto;
}

